STATE= dev

DB_HOST= localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=SuContraseña
DB_NAME=Nombre-BD

JWT_SECRET=ClaveParaJWT
FRONTEND_APP_URL=http://localhost:3001

SMTP_HOST=smtp.tu-proveedor.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=tu-usuario-smtp
SMTP_PASS=tu-password-smtp
SMTP_FROM=no-reply@tu-dominio.com
SMTP_CLIENT_HOST=localhost
